body{
  color:white;
  padding:0;
  margin: 0;font-family: sans-serif;
  font-weight: 800px;

}

#home{
  background-image: url('./images/backgrounds/h_img.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  width:100%;
  padding:80px;
}
#bounce{
  animation: bounce 2s infinite;
}
#mouse{
  padding:50px;
}
#logo{
  padding: 20px;
}
#welcome{
  padding: 20px;
}
#del{
 margin-top: 60px;
}
#about{
  color: black;
}
#services{
  background-image: url('./images/backgrounds/s_image.jpg');
  padding: 60px;
}

.wedo{
  padding: 50px;
}

.table{
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.vate{
  font-size: 20px;
}


#design1,#design2,#design3{
 display: none;
}

.six {
  padding-top: 35px;
  padding-bottom: 40px;
  background-image: url('./images/backgrounds/c_image.jpg');
  background-repeat: no-repeat;
  color: #fff;
}

.text-six {
  color: white;
  font-size: 15px;
}

.myForm-input {
  font-size: 12px;
  padding: 5px 10px 10px 5px;
  display: block;
  width: 100%;
  background: transparent;
  color: white;
}

html {
  font-family: 'Lato', 'Dosi', 'Open Sans', 'San-serif';
}

form.contact-us {
  background: transparent;
  padding-top: 20px;
  color: #fff;
}

form.contact-us input,
form.contact-us textarea,
div.contact-btn button {
  margin-bottom: 10px;
  padding: 7px 5px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}

input.contact-email {
  margin-left: 240px;
  color: #fff;
}

div.contact-btn button {
  padding: 7px 10px;
  width: 150px;
  font-weight: bold;
  transition: border 0.2s;
  font-size: 1.2rem;
}

div.contact-btn button:hover {
  border: 2px solid #fff;
}

.toast-body{
  display: none;
}
#portfolio{
  color:black;
}